# Environment Variables
.env

# mounted volume
sites

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
.devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv

# NodeJS
node_modules

# VitePress
**/.vitepress/dist
**/.vitepress/cache
